.product-card {
    font-family: Arial;
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    border: 1px solid purple;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(225, 225, 225, 0.2);
}

.product-card > .box-img {
    height: 200px;
    width: 100%;
}

.product-card > .box-img > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.product-card > .description {
    display: flex;
    height: 30px;
    flex-direction: column;
    align-items: center; /* row > alinha vertical, column > alinha horizontal*/
    justify-content: space-between; /* row > alinha horizontal, column > alinha vertical*/
    gap: 40px;
}

.product-card > .description > p {
    margin: 0;
}

.product-card > .description > .price {
    font-weight: 600;
    color: #ffc107;
}

.product-card > .description > button {
    font-weight: 600;
    color: #ffc107;
    border: 1px solid purple;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.promocao::after {
    content: 'Promoção! ★';
    /* background: red; */
    color: blueviolet;
    margin-left: 10px;
}

.product-group {
    display: flex;
    gap: 15px;
}

/* input password */

.input-container {
    position: relative;
}

.input-container > input {
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    width: 100%;
}

.input-container > img {
    position: absolute;
    height: 30px;
    top: 10px;
    right: 30px;
    cursor: pointer;
}